<header>
  <h1>States</h1>

  <ul class="actions">
    <li><%= link_to "New State", new_admin_state_path, class: "new" %></li>
  </ul>
</header>

<ul class="states">
  <% @states.each do |state| %>
      <li>
        <%= render "states/state", state: state %>
        <% if state.default? %>
            (Default)
        <% else %>
            <%= link_to "Make Default", make_default_admin_state_path(state) %>
        <% end %>
        <div class="pull-right">
          <%= link_to "Edit State", [:edit, :admin, state], class: "edit" %>
          <%= link_to "Delete State", [:admin, state], method: :delete, data: { confirm: "Are you sure you want to delete this state?" }, class: "delete" %>
        </div>
      </li>
      <hr>
  <% end %>
</ul>